<%-
# app/views/posts/new.html.erb
-%>

<h2>Write a new blog post</h2>

<%= error_messages_for 'post' %>

<% form_for @post do |post_form| %>
  <p>
    <strong>Title:</strong>
    <%= post_form.text_field :title %>
  </p>
  <p>
    <strong>Body:</strong><br />
    <%= post_form.text_area :body %>
  </p>

<%= post_form.submit 'Save post' %>
<% end %>
