<select name="template_paper_size">
  <option value=""></option>
  <% @papersizes.each do |p|  %>
    <option value="<%=  p.name %>" 
    <%=
    if @tmpt.present?
      (p.name == @tmpt.paper_size)? 'selected="selected"' : ""
    end
    %> ><%=  p.name %></option>
  <% end  %>
</select>

Landscape <input type="checkbox" name="template_landscape" value="1" <%=
if @tmpt.present?
  (@tmpt.landscape == 1)? 'checked="checked"' : ""
end
%> />




