<form enctype="multipart/form-data" action="/document/save" method="POST">
<table style="padding:0px;">
<tr>
  <td>Select File:</td>
  <td><%= file_field 'upload', 'file' %></td>
</tr>
<tr>
<td>Paper Size:</td>
<td><select name="papersize">
  <option></option>
  <% @papersize.each do |p| %>
  <option><%= p.name %> </option>
  <% end %>
</select>
</td>
</tr>

<tr>
<td>Landscape:</td>
<td>Yes <input type="checkbox" name="landscape" value="1"/></td>
</tr>


<tr>
<td colspan="2">
<%= submit_tag "Upload" %>
</td>
</tr>
</table>
</form>