<div class="container" style="width:600px; height:10px;padding:5px; background:#000">
<div class="slider"></div>
</div>


<script>
  $(document).ready(function() {

    $(".container").resizable();
    $(".slider").slider({ values: [0,0,0,0,0,0,0,0,0,0,0] });
    
  });
</script>